<div class="row justify-content-center"><h1>Accident</h1></div>


    <form [formGroup]="accidentForm" (ngSubmit)="onFormSubmit(accidentForm)">
        
        <mat-form-field>
            <input matInput placeholder="Accident" formControlName="libelle">
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
            <input type="date" matInput placeholder="Date Accident" formControlName="dateAccident">
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
            <input matInput placeholder="Nombre de mort" formControlName="nombreMort">
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
            <input matInput placeholder="Nombre de blessure" formControlName="nombreBlessure">
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field>
            <textarea matInput placeholder="Laissez une description" formControlName="description"
                name="description"></textarea>
        </mat-form-field>
        <div  class="d-flex form-row justify-content-end">
        <button mat-raised-button>Ajouter</button>
    </div>

    </form>
