<div class="myContainer">
    <!-- <div class="col-12">
        <h2 class="text-center">Cher Sous-traitant</h2>
        <h5 class="text-center"> pour le bon déroulement de votre visite , Veuillez respécter nos <span class="myregle">
                régles</span></h5>
    </div> -->
    <div class="col-md-12">
        <ngb-carousel *ngIf="imageToShow" style=" margin: auto; width:70%; float: right;">
            <ng-template ngbSlide *ngFor="let image of imageToShow ; let i = index">

                <div class="carousel-item active" *ngIf="image.show === true">
                    <img class="d-block w-100 img-carousel " [src]="createImagePath(image.image)"
                        alt="Random first slide">

                    <div class="carousel-caption">
                        <h3>{{image.nom}}</h3>
                        <p>{{image.description}}</p>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="col-md-4">
        <h6>Date de demarrage {{date}} </h6>
        <h5>Nombre des jours de travail </h5>
        <h6>Date dernier accident </h6>
        <h6>Nombre des jours sans accident </h6>
    </div>
</div>