<!-- <div class="container-fluid">
    <div class=" col-md-12">
        <div class="row mt-3">
            <div class="  col-md-4">
                <div class="row" style="padding-left: 20%">
                    <div class="col-md-4">


                        <h6><span class="badge badge-secondary">VOIE-3-ممر</span></h6>

                        <span *ngIf="P006"><img src="./assets/images/tr-out1.png" class="rounded"
                                style="width: 60px;"></span>
                        <span *ngIf="!P006"><img src="./assets/images/tr-outx1.png" class="rounded"
                                style="width: 60px;"></span>
                    </div>
                    <div class="col-md-4">

                        <h6><span class="badge badge-success">VOIE-2-ممر</span></h6>
                        <span *ngIf="P004"><img src="./assets/images/tr-out1.png" class="rounded"
                                style="width: 60px;"></span>
                        <span *ngIf="!P004"><img src="./assets/images/tr-outx1.png" class="rounded"
                                style="width: 60px;"></span>
                    </div>
                    <div class="col-md-4">
                        <h6><span class="badge badge-warning" style="color: white">VOIE-1-ممر</span></h6>

                        <span *ngIf="P002"><img src="./assets/images/tr-out1.png" class="rounded"
                                style="width: 60px;"></span>
                        <span *ngIf="!P002"><img src="./assets/images/tr-outx1.png" class="rounded"
                                style="width: 60px;"></span>
                    </div>
                </div> <br>

                <div class="col-md-4">

                    <h6><span class="badge badge-primary">VOIE-4-ممر</span></h6>
                    <span *ngIf="P008"><img src="./assets/images/tr-out2.png" class="rounded"
                            style="width: 60px;"></span>
                    <span *ngIf="!P008"><img src="./assets/images/tr-outx2.png" class="rounded"
                            style="width: 60px;"></span>
                </div><br>
                <div class="col-md-4">
                    <h6><span class="badge badge-success">VOIE-5-ممر</span></h6>

                    <span *ngIf="P010"><img src="./assets/images/tr-out2.png" class="rounded"
                            style="width: 60px;"></span>
                    <span *ngIf="!P010"><img src="./assets/images/tr-outx2.png" class="rounded"
                            style="width: 60px;"></span>
                </div><br>
                <div class="col-md-4">
                    <h6><span class="badge badge-danger">VOIE-6-ممر</span></h6>
                    <span *ngIf="P012"><img src="./assets/images/tr-out2.png" class="rounded"
                            style="width: 60px;"></span>
                    <span *ngIf="!P012"><img src="./assets/images/tr-outx2.png" class="rounded"
                            style="width: 60px;"></span>
                </div>
                <br>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8">
                <ngb-carousel *ngIf="imageToShow">
                    <ng-template ngbSlide *ngFor="let image of imageToShow ; let i = index">
                        <div class="carousel-item active" *ngIf="image.show === true">
                            <img class="d-block w-100 img-carousel " [src]="createImagePath(image.image)"
                                alt="Random first slide">
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</div>

<div class="mt-1" style="background-color: burlywood;">
    <ng-marquee>
        <mark style="background-color: burlywood;"> HOTEL ROYAL MANSOUR </mark>
    </ng-marquee>
</div> -->























<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container-fluid">
    <div class="row w-100">

        <div class="col-md-3">


            <div class="card rounded-lg pull-left" style="    width: 115%;
            background-image: linear-gradient(to bottom, #99999936, #c2c5cc00, #d7d8dc00, #ebebee00, #ffffff);
            border: none;
            margin-left: -5%;
            margin-top: -4%;
            height: 103%;
        ">
                <h1 class="linear-wipe" style="font-size: 1.5vw;"> PROJET HOTEL ROYAL MANSOUR</h1>


                <div class="card-body" style="    margin-top: 24%;
                margin-left: 8%;">
                    <br>
                    <div style="margin-top: 10%;margin-left: 3%; ">











                        <div class="col-md-4">


                            <h6><span class="badge badge-secondary">VOIE-3-ممر</span></h6>

                            <span *ngIf="P006"><img src="./assets/images/tr-out1.png" class="rounded"
                                    style="width: 60px;"></span>
                            <span *ngIf="!P006"><img src="./assets/images/tr-outx1.png" class="rounded"
                                    style="width: 60px;"></span>
                        </div>
                        <div class="col-md-4">

                            <h6><span class="badge badge-success">VOIE-2-ممر</span></h6>
                            <span *ngIf="P004"><img src="./assets/images/tr-out1.png" class="rounded"
                                    style="width: 60px;"></span>
                            <span *ngIf="!P004"><img src="./assets/images/tr-outx1.png" class="rounded"
                                    style="width: 60px;"></span>
                        </div>
                        <div class="col-md-4">
                            <h6><span class="badge badge-warning" style="color: white">VOIE-1-ممر</span></h6>

                            <span *ngIf="P002"><img src="./assets/images/tr-out1.png" class="rounded"
                                    style="width: 60px;"></span>
                            <span *ngIf="!P002"><img src="./assets/images/tr-outx1.png" class="rounded"
                                    style="width: 60px;"></span>
                        </div>
                        <br><br>
                    </div> 
                    <h6><span class="badge badge-primary">VOIE-4-ممر</span></h6>
                    <div class="row">
                        
                     
                        <span *ngIf="P008"><img src="./assets/images/tr-out2.png" class="rounded"
                                style="width: 60px;     margin-left: 2vh;"></span>
                        <span *ngIf="!P008"><img src="./assets/images/tr-outx2.png" class="rounded"
                                style="width: 60px;     margin-left: 2vh; "></span>
                    </div><br>
                    <h6><span class="badge badge-success">VOIE-5-ممر</span></h6>
                    <div class="row">
                                                
                    

                        <span *ngIf="P010"><img src="./assets/images/tr-out2.png" class="rounded"
                                style="width: 60px;     margin-left: 2vh;"></span>
                        <span *ngIf="!P010"><img src="./assets/images/tr-outx2.png" class="rounded"
                                style="width: 60px;    margin-left: 2vh;"></span>
                    </div><br>

 <div class="row">


    
    <div class="col-md-4">
        <h6><span class="badge badge-danger">VOIE-6-ممر</span></h6>
        <span *ngIf="P012"><img src="./assets/images/tr-out2.png" class="rounded"
                style="width: 60px;"></span>
        <span *ngIf="!P012"><img src="./assets/images/tr-outx2.png" class="rounded"
                style="width: 60px;"></span>
    </div>
 </div>



               
          
        </div>
    </div>

</div>

<div class="col-md-8">
    <ngb-carousel *ngIf="imageToShow" style="width: 116.5%; border: 1px solid #d0b16b;
            border-bottom: none;border-top: none;">
        <ng-template ngbSlide *ngFor="let image of imageToShow ; let i = index">

            <div class="carousel-item active" *ngIf="image.show === true">
                <img class="d-block w-100 img-carousel " [src]="createImagePath(image.image)" alt="Random first slide">
            </div>
        </ng-template>
    </ngb-carousel>
</div>

</div>
<div class="row w-100">
    <div class="col-md-11">
        <div class="onoffswitch3 pull-left" style="margin-left: -1%;width: 100%;">
            <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
            <label class="onoffswitch3-label" for="myonoffswitch3" style="    border: 1px solid #d0b16b;">
                <span class="onoffswitch3-inner">
                    <span class="onoffswitch3-active">
                        <marquee class="scroll-text" style="margin-top: 1%;">
                            <span *ngFor="let item of Messages">
                                <span *ngIf="item.show === true">
                                    {{item.titre}} : {{item.libelle}} <span class="glyphicon glyphicon-forward"></span>
                                </span>

                            </span>


                        </marquee>
                        <span class="onoffswitch3-switch" style="padding-top:1% ;">ROYAL MANSOUR </span>
                    </span>
                    <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">SHOW BREAKING
                            NEWS</span></span>
                </span>
            </label>
        </div>
        <div class="onoffswitch3 pull-left" style="margin-left: -1%;width: 100%;">
            <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
            <label class="onoffswitch3-label" for="myonoffswitch3" style=" border: 1px solid #d0b16b">
                <span class="onoffswitch3-inner">
                    <span class="onoffswitch3-active">
                        <marquee class="scroll-text" style="margin-top: 1%;" direction="right">
                            <span *ngFor="let item of Messages">
                                <span *ngIf="item.show === true">
                                    {{item.messagearab}} <span class="glyphicon glyphicon-backward"></span>
                                </span>
                            </span>

                        </marquee>
                        <span class="onoffswitch3-switch" style="padding-top:1% ;margin-left: 90.6%; ">ROYAL
                            MANSOUR </span>
                    </span>
                    <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">SHOW BREAKING
                            NEWS</span></span>
                </span>
            </label>
        </div>
    </div>
    <div class="col-md-1">
        <img class="fit-picture" [src]="logo" alt="logo" style="width: 136%;float: right;margin-right: -14%;">
    </div>


</div>
</div>