/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.carousel-control-next-icon {
    background-image: url("./assets/images/arrow-pointing-to-right.svg");
}
.carousel-control-prev-icon {
    background-image: url("./assets/images/arrow-pointing-to-left.svg");
}

.skycons__canvas {
    width: 150px;
}

mat-card.w-75 {
   width: 439.66px !important;
}
.jsx-2519291443 a{
    display: none !important;
}

.jsx-2519291443 {

    top: -4px;
    right: 13px;
}