<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="class menu-spacer"></span>
        <div class="class ml-2">
            <button mat-button [routerLink]="[{outlets: {admin:['regles']}}]">Regles</button>
            <button mat-button [routerLink]="[{outlets: {admin:['reglesCms']}}]">Regles Chantier</button>
            <button mat-button [routerLink]="[{outlets: {admin:['accidents']}}]">Accident</button>
            <button mat-button [routerLink]="[{outlets: {admin:['messages']}}]">Message</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>